#-----WORDPRESS-----
# игнор всех папок проекта, исключая папку wp-content
!wp-content/

# игнор всех файлов в папке "wp-content", исключая папки wp-content/mu-plugins/, wp-content/plugins/, wp-content/themes/:
# "mu-plugins", "plugins", "themes" directory
wp-content/*
!wp-content/mu-plugins/
!wp-content/plugins/
!wp-content/themes/

# игнор этого плагина
wp-content/plugins/hello.php

# игнор дефолтных тем
wp-content/themes/twenty*/

# игнор зависимостей node
node_modules/

# игнор логфайлов и файлов базы данных
*.log
*.sql
*.sqlite

# игнор папки vendor
vendor/


# WEBSTORM AND PHPSTORM
.idea/
